# [**Jump to Tasks**](#Tasks)

<hr>

## Examples

### **Example1**

In [ ]:
import pandas as pd
a = [1,7,2]
my_series = pd.Series(a)
print(my_series)

0    1
1    7
2    2
dtype: int64

### **Example2**

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
my_series2 = pd.Series(calories)
print(my_series2)

day1    420
day2    380
day3    390
dtype: int64

### **Example3**

In [ ]:
d = pd.Series([10, 20, 30, 40])
df = pd.DataFrame(d)
print(df)

    0
0  10
1  20
2  30
3  40

### **Example4**

In [ ]:
data = {'Name': ['Ahmad', 'Ali', 'Osama', 'Mutaz'],
        'Age': [20, 19, 22, 24]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Ahmad   20
1    Ali   19
2  Osama   22
3  Mutaz   24

### **Example5**

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

### **Example6**

In [ ]:
df = pd.read_csv('Dinner.csv')
print(df)

    Waiter  total_bill   tip smoker  day    time  size
0       10       16.99  1.01     No  Sun  Dinner     2
1       10       10.34  1.66     No  Sun  Dinner     3
2       11       21.01  3.50     No  Sun  Dinner     3
3       11       23.68  3.31     No  Sun  Dinner     2
4       22       24.59  3.61     No  Sun  Dinner     4
5       13       25.29  4.71     No  Sun  Dinner     4
6       10        8.77  2.00     No  Sun  Dinner     2
7       30       26.88  3.12     No  Sun  Dinner     4
8       15       15.04  1.96     No  Sun  Dinner     2
9       30       14.78  3.23     No  Sun  Dinner     2
10      15       10.27  1.71     No  Sun  Dinner     2
11      30       35.26  5.00     No  Sun  Dinner     4
12      10       15.42  1.57     No  Sun  Dinner     2
13      11       18.43  3.00     No  Sun  Dinner     4
14      11       14.83  3.02     No  Sun  Dinner     2
15      30       21.58  3.92     No  Sun  Dinner     2
16      11       10.33  1.67     No  Sun  Dinner     3
17      10       16.29  3.71     No  Sun  Dinner     3
18      12       16.97  3.50     No  Sun  Dinner     3
19      12       20.65  3.35     No  Sat  Dinner     3
20      11       17.92  4.08     No  Sat  Dinner     2
21      11       20.29  2.75     No  Sat  Dinner     2
22      10       15.77  2.23     No  Sat  Dinner     2
23      33       39.42  7.58     No  Sat  Dinner     4
24      33       19.82  3.18     No  Sat  Dinner     2

### **Examples7-10**

In [ ]:
#exp7
df = pd.read_csv('Lunch.csv')
print(df.head())
print()

#exp8
df2 = pd.read_csv('Waiters.csv')
print(df2.tail())

#exp9
print("\nshapes:\n", df.shape, df2.shape, "\n")

#exp10
print(df.info(), "\n\n")
print(df2.info())

   Waiter  total_bill   tip smoker   day   time  size
0      10       27.20  4.00     No  Thur  Lunch     4
1      10       22.76  3.00     No  Thur  Lunch     2
2      11       17.29  2.71     No  Thur  Lunch     2
3      11       19.44  3.00    Yes  Thur  Lunch     2
4      33       16.66  3.40     No  Thur  Lunch     2

   Waiter       type
1      11  part time
2      33  full time
3      30  full time
4      12  part time
5      20  part time

shapes:
 (13, 7) (6, 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Waiter      13 non-null     int64
 1   total_bill  13 non-null     float64
 2   tip         13 non-null     float64
 3   smoker      13 non-null     object
 4   day         13 non-null     object
 5   time        13 non-null     object
 6   size        13 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 860.0+ bytes
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Waiter  6 non-null      int64
 1   type    6 non-null      object
dtypes: int64(1), object(1)
memory usage: 228.0+ bytes
None

### **Examples11&12**

#### **Part1**

In [ ]:
df = pd.DataFrame({'col_1': list(range(1, 11)),
                   'col_2': list(range(11, 21)),
                   'col_3': list(range(21, 31)),
                   'col_4': list(range(31, 41)),
                   'col_5': list(range(41, 51)),
                   'col_6': list(range(51, 61)),
                   'col_7': list(range(61, 71)),
                   'col_8': list(range(71, 81)),
                   'col_9': list(range(81, 91))})
#print(df)
#print(df.columns)
#print(df.index)

#using indexing operator
print(df[['col_5', 'col_1', 'col_8']])

#using loc indexer
print(df.loc[0])
df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6', 'row_7',
            'row_8', 'row_9', 'row_10']

print(df.loc['row_6':'row_9'])

   col_5  col_1  col_8
0     41      1     71
1     42      2     72
2     43      3     73
3     44      4     74
4     45      5     75
5     46      6     76
6     47      7     77
7     48      8     78
8     49      9     79
9     50     10     80
col_1     1
col_2    11
col_3    21
col_4    31
col_5    41
col_6    51
col_7    61
col_8    71
col_9    81
Name: 0, dtype: int64
       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6      6     16     26     36     46     56     66     76     86
row_7      7     17     27     37     47     57     67     77     87
row_8      8     18     28     38     48     58     68     78     88
row_9      9     19     29     39     49     59     69     79     89

#### **Part2**

In [ ]:
print(df)

#using the at indexer
print(df.at['row_6', 'col_3'])

#poision based indexing
print(df[3:6])
#print(df.iloc[3])
print(df.iloc[7:10])
print(df.iloc[0, [2, 8, 3]])
print(df.iat[1,2])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1       1     11     21     31     41     51     61     71     81
row_2       2     12     22     32     42     52     62     72     82
row_3       3     13     23     33     43     53     63     73     83
row_4       4     14     24     34     44     54     64     74     84
row_5       5     15     25     35     45     55     65     75     85
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_9       9     19     29     39     49     59     69     79     89
row_10     10     20     30     40     50     60     70     80     90
26
       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85
row_6      6     16     26     36     46     56     66     76     86
        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_8       8     18     28     38     48     58     68     78     88
row_9       9     19     29     39     49     59     69     79     89
row_10     10     20     30     40     50     60     70     80     90
col_3    21
col_9    81
col_4    31
Name: row_1, dtype: int64
22

### **Example13**

In [ ]:
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'], 'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F']
           }
df = pd.DataFrame(Biodata)

df.to_csv('Biodata.csv', index=False)

### **Example14**

In [ ]:
data = {'Name': ["ahmad", "ali", "osama", "mutaz"],
        'Height': [180, 175, 170, 185],
        'Qualification': ["Msc", "Bsc", "Phd", "MA"]}

df = pd.DataFrame(data)
print(df)

address = ['Jenin', 'Nablus', 'Ramallah', 'Surda']
df['Address'] = address
print(df)

    Name  Height Qualification
0  ahmad     180           Msc
1    ali     175           Bsc
2  osama     170           Phd
3  mutaz     185            MA
    Name  Height Qualification   Address
0  ahmad     180           Msc     Jenin
1    ali     175           Bsc    Nablus
2  osama     170           Phd  Ramallah
3  mutaz     185            MA     Surda

### **Example15**

In [ ]:
data = {'Name': ["ahmad", "ali", "osama", "mutaz"],
        'Height': [180, 175, 170, 185],
        'Qualification': ["Msc", "Bsc", "Phd", "MA"],
        'Age': [21, 23, 24, 21]}

df = pd.DataFrame(data)
print(df)

df1 = df.drop(['Height'], axis=1)
print(df)
print(df1)

    Name  Height Qualification  Age
0  ahmad     180           Msc   21
1    ali     175           Bsc   23
2  osama     170           Phd   24
3  mutaz     185            MA   21
    Name  Height Qualification  Age
0  ahmad     180           Msc   21
1    ali     175           Bsc   23
2  osama     170           Phd   24
3  mutaz     185            MA   21
    Name Qualification  Age
0  ahmad           Msc   21
1    ali           Bsc   23
2  osama           Phd   24
3  mutaz            MA   21

### **Example14.2**

In [ ]:
tech = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(tech)
print(df)

entry = ['Hyperion', 27000, '60days', 2000]
df.loc[len(df)] = entry
print('\n', df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000

     Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1   PySpark  25000   50days      2300
2    Hadoop  23000   35days      1000
3    Python  24000   40days      1200
4    Pandas  26000   55days     25000
5  Hyperion  27000   60days      2000

### **Example16**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

indexes = ['r1', 'r2', 'r3', 'r4', 'r5']
df = pd.DataFrame(techs, index=indexes)
print(df)

df1 = df.drop(['r1', 'r2']) # df1 = df.drop(index=['r1','r2'])
print(df1)

    Courses    Fee Duration  Discount
r1    Spark  22000   30days      1000
r2  PySpark  25000   50days      2300
r3   Hadoop  23000   35days      1000
r4   Python  24000   40days      1200
r5   Pandas  26000   55days     25000
   Courses    Fee Duration  Discount
r3  Hadoop  23000   35days      1000
r4  Python  24000   40days      1200
r5  Pandas  26000   55days     25000

### **Example17**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

indexes = ['r1', 'r2', 'r3', 'r4', 'r5']
df = pd.DataFrame(techs, index=indexes)
print(df)

df1 = df.drop(df.index[[1,3]])
print(df1)

df.drop(df.index[0], inplace=True)
df.drop(df.index[-1], inplace=True)
print(df)

df1 = df.drop(df.index[2:])
print(df1)

    Courses    Fee Duration  Discount
r1    Spark  22000   30days      1000
r2  PySpark  25000   50days      2300
r3   Hadoop  23000   35days      1000
r4   Python  24000   40days      1200
r5   Pandas  26000   55days     25000
   Courses    Fee Duration  Discount
r1   Spark  22000   30days      1000
r3  Hadoop  23000   35days      1000
r5  Pandas  26000   55days     25000
    Courses    Fee Duration  Discount
r2  PySpark  25000   50days      2300
r3   Hadoop  23000   35days      1000
r4   Python  24000   40days      1200
    Courses    Fee Duration  Discount
r2  PySpark  25000   50days      2300
r3   Hadoop  23000   35days      1000

### **Example18**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(techs)
print(df, '\n\n')
df1 = df.drop(0)
df3 = df.drop([0, 3])
df4 = df.drop(range(0,2))
print(df1, '\n\n', df3, '\n\n', df4)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000


   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000

    Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
4   Pandas  26000   55days     25000

   Courses    Fee Duration  Discount
2  Hadoop  23000   35days      1000
3  Python  24000   40days      1200
4  Pandas  26000   55days     25000

### **Example19**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(techs)
print(df, '\n\n')
# df.drop(df[df['Fee'] >= 24000].index, inplace=True)
# print(df)

df1 = df[df['Fee'] < 24000]
print(df1)

df2 = df.loc[df['Fee'] < 24000]
print(df2)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000


  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   35days      1000
  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   35days      1000

### **Example20**

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

result = pd.concat([df1, df2])
print(result)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

<hr>

<a name="Tasks"></a>
## **Tasks**

#### **Task1**

In [ ]:
df = pd.DataFrame({'col_1': list(range(1, 11)),
                   'col_2': list(range(11, 21)),
                   'col_3': list(range(21, 31)),
                   'col_4': list(range(31, 41)),
                   'col_5': list(range(41, 51)),
                   'col_6': list(range(51, 61)),
                   'col_7': list(range(61, 71)),
                   'col_8': list(range(71, 81)),
                   'col_9': list(range(81, 91))})

df.index = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5',
            'row_6', 'row_7', 'row_8', 'row_9', 'row_10']

selected_rows = df.loc['row_1':'row_4']
print(selected_rows)

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84

Using the range from row_1 to row_4 using ':', the first 4 rows were printed.

#### **Task2**

In [ ]:
print(df.iloc[-1].loc['col_5':'col_7'])

col_5    50
col_6    60
col_7    70
Name: row_10, dtype: int64

Using iloc[-1] the last row was obtained, then using loc['col_5':'col_7'} the columns in the range 5-7 were obtained. and so the last row with those columns was printed.

#### **Task3**

In [ ]:
print(df.iloc[[0,7], 4:9])

       col_5  col_6  col_7  col_8  col_9
row_1     41     51     61     71     81
row_8     48     58     68     78     88

With iloc, both rows and columns can be specified as parameters (respectively). First, rows 1 and 8 were specified, then columns in the range 5-9 were specified. The result was printed.

#### **Task4**

In [ ]:
print(df.iloc[:, [0, 2, 6]])

        col_1  col_3  col_7
row_1       1     21     61
row_2       2     22     62
row_3       3     23     63
row_4       4     24     64
row_5       5     25     65
row_6       6     26     66
row_7       7     27     67
row_8       8     28     68
row_9       9     29     69
row_10     10     30     70

Using the ':' operator, all rows were selected, then columns 0, 2, 6 were specified. The result was printed.

#### **Task5**

In [ ]:
print(df[df['col_2'] <= 15])

       col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_1      1     11     21     31     41     51     61     71     81
row_2      2     12     22     32     42     52     62     72     82
row_3      3     13     23     33     43     53     63     73     83
row_4      4     14     24     34     44     54     64     74     84
row_5      5     15     25     35     45     55     65     75     85

The inner df returns true for all rows where the condition is met. Then the outer df filters out the falsy rows, then the result is printed.

#### **Task6**

In [ ]:
print(df[(df['col_2'] > 15) & (df['col_2'] != 19)])

        col_1  col_2  col_3  col_4  col_5  col_6  col_7  col_8  col_9
row_6       6     16     26     36     46     56     66     76     86
row_7       7     17     27     37     47     57     67     77     87
row_8       8     18     28     38     48     58     68     78     88
row_10     10     20     30     40     50     60     70     80     90

Same as the previous task, but here the condition consists of two conditions with an 'and' (&) operator between them.

#### **Task7**

In [ ]:
Biodata = {'Name': ['Ahmad', 'Ali', 'Omar', 'Hamzah'], 'Age': [28, 23, 35, 31],
           'Gender': ['M', 'F', 'M', 'F']
           }
df = pd.DataFrame(Biodata)

df.to_csv('Biodata_tabular.csv', sep='\t', index=False)

Using sep='\t', the data was saved to Bidodata_tabular.csv with tab separators instead of a comma.

#### **Task8**

In [ ]:
data = {'Name': ["ahmad", "ali", "osama", "mutaz"],
        'Height': [180, 175, 170, 185],
        'Qualification': ["Msc", "Bsc", "Phd", "MA"]}

df = pd.DataFrame(data)

address = ['Jenin', 'Nablus', 'Ramallah', 'Surda']
df['Address'] = address

age = [21, 23, 24, 21]
df['Age'] = age
print(df)

    Name  Height Qualification   Address  Age
0  ahmad     180           Msc     Jenin   21
1    ali     175           Bsc    Nablus   23
2  osama     170           Phd  Ramallah   24
3  mutaz     185            MA     Surda   21

New columns (lists) 'Address' and 'Age' were added to the original DataFrame, by using each as an index and equating it to the list.

#### **Task9**

In [ ]:
data = {'Name': ["ahmad", "ali", "osama", "mutaz"],
        'Height': [180, 175, 170, 185],
        'Qualification': ["Msc", "Bsc", "Phd", "MA"],
        'Age': [21, 23, 24, 21]}

df = pd.DataFrame(data)
print(df)

df.drop(['Height', 'Age'], axis=1, inplace=True)
print(df)

    Name  Height Qualification  Age
0  ahmad     180           Msc   21
1    ali     175           Bsc   23
2  osama     170           Phd   24
3  mutaz     185            MA   21
    Name Qualification
0  ahmad           Msc
1    ali           Bsc
2  osama           Phd
3  mutaz            MA

By using ['Height', 'Age'] as the list-index, specifiying the axis to 1 (columns), and using inplace=True, the two columns were dropped from the original DataFrame in-place.

#### **Task10**

In [ ]:
tech = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(tech)
print('Before:\n',df)

list1 = ['Hyperion', 27000, '60days', 2000]
#df.loc[len(df)] = list1
# df.iloc[1] = list1
df_temp1 = df.iloc[0:2].copy()
df_temp2 = df.iloc[1:].copy()
df_temp1.iloc[1] = list1
df = pd.concat([df_temp1, df_temp2])
df.index = range(len(df))
print('\nAfter:\n', df)

Before:
    Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000

After:
     Courses    Fee Duration  Discount
0     Spark  22000   30days      1000
1  Hyperion  27000   60days      2000
2   PySpark  25000   50days      2300
3    Hadoop  23000   35days      1000
4    Python  24000   40days      1200
5    Pandas  26000   55days     25000

To add the new row into the second position, the DataFrame was split into two, and each part was copied to avoid changing the rows in the original DataFrame. Then the new row was added in the last position in the first part, then the two parts were concatenated, and the result was printed. The index of the df was reset because otherwise the rows will be [0,1,1,2,3,4].

#### **Task11**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(techs)
print('Before:\n', df)
df1 = df.drop(df[(df['Fee'] >= 22000) & (df['Discount'] == 2300)].index)
df1.index = range(len(df1))
print('\nAfter:\n', df1)
df1.to_csv('task11.csv', index=False)

Before:
    Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000

After:
   Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
1  Hadoop  23000   35days      1000
2  Python  24000   40days      1200
3  Pandas  26000   55days     25000

The index of rows resulting from the conditional filtering were returned by using .index after the conditions so that they get droped (deleted) from the DataFrame.

#### **Task12**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, None, 1200, None]
}

df = pd.DataFrame(techs)
print(df, '\n\n')

# Drop those rows
df1 = df.drop(df[df.isnull().any(axis=1)].index)
print(df1)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   35days       NaN
3   Python  24000   40days    1200.0
4   Pandas  26000   55days       NaN


   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
3   Python  24000   40days    1200.0

isnull() was used to determine where the None/NaN values are in the DataFrame, then any(axis)=1 was used to return the rows where any of the values are None/NaN. Then their index was used to delete them using drop().

#### **Task13**

In [ ]:
techs = {
  'Courses': ['Spark', 'PySpark', 'Hadoop', 'Python', 'Pandas'],
  'Fee': [22000, 25000, 23000, 24000, 26000],
  'Duration': ['30days', '50days', '35days', '40days', '55days'],
  'Discount': [1000, 2300, 1000, 1200, 25000]
}

df = pd.DataFrame(techs)
print(df, '\n\n')
df1 = df.drop(df[(df['Courses'] == 'Spark') | (df['Courses'] == 'Hadoop')].index)
print(df1)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   35days      1000
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000


   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
3   Python  24000   40days      1200
4   Pandas  26000   55days     25000

Using two conditions to filter the DataFrame using 'or' (|) operator between them, then the rows indecies were returned and used to drop them from the DataFrame.

#### **Task14**

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

result = pd.concat([df1, df2], axis=1)
print(result)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

By specifying the paramter axis to equal 1, the concatenation was done column-wise instead of row-wise.

#### **Task15**

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B0', 'C2', 'B0', 'B1'],
                    'C': ['C0', 'C0', 'B2', 'C3'],
                    'D': ['D1', 'D2', 'D6', 'D7']})

print(df1, '\n\n', df2)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

     A   B   C   D
0  A4  B0  C0  D1
1  A5  C2  C0  D2
2  A6  B0  B2  D6
3  A7  B1  C3  D7

- ####  **Part1 - Inner Join**

In [ ]:
df = pd.merge(df1, df2, on='B')
print(df)

  A_x   B C_x D_x A_y C_y D_y
0  A0  B0  C0  D0  A4  C0  D1
1  A0  B0  C0  D0  A6  B2  D6
2  A1  B1  C1  D1  A7  C3  D7

Performing inner join on both DFs on column B results in all rows where the values in column B are the same in both DFs.

- ####  **Part2 - Left Outer Join**

In [ ]:
df = df1.merge(df2, on='C', how='left')
print(df)

  A_x B_x   C D_x  A_y  B_y  D_y
0  A0  B0  C0  D0   A4   B0   D1
1  A0  B0  C0  D0   A5   C2   D2
2  A1  B1  C1  D1  NaN  NaN  NaN
3  A2  B2  C2  D2  NaN  NaN  NaN
4  A3  B3  C3  D3   A7   B1   D7

  Performing left outer join on column C results in merging the first DF with the rows from the second DF where the values of C are common, based on the values of C in the first DF.

- ####  **Part3 - Right Outer Join**

In [ ]:
df = df1.merge(df2, on='C', how='right')
print(df)

   A_x  B_x   C  D_x A_y B_y D_y
0   A0   B0  C0   D0  A4  B0  D1
1   A0   B0  C0   D0  A5  C2  D2
2  NaN  NaN  B2  NaN  A6  B0  D6
3   A3   B3  C3   D3  A7  B1  D7

  Performing right outer join on column C results in merging the second DF with the rows from the first DF where the values of C are common, based on the values of C in the second DF.

- ####  **Part4 - Full Outer Join**

In [ ]:
df = pd.merge(df1, df2, how='outer')
print(df)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B0  C0  D1
5  A5  C2  C0  D2
6  A6  B0  B2  D6
7  A7  B1  C3  D7

By specifying how='outer', all rows from both DFs are merged.

- ####  **Part5 - Left Anti-Join**

In [ ]:
df3 = df1.merge(df2, on='B', how='left', indicator=True)
df = df3.loc[df3['_merge'] == 'left_only', 'B']
d = df1[df1['B'].isin(df)]
print(d)

    A   B   C   D
2  A2  B2  C2  D2
3  A3  B3  C3  D3

By extracing the rows where values of B from the first DF are not in the second DF, the left anti-join is performed.

- ####  **Part6 - Right Anti-Join**

In [ ]:
df3 = df1.merge(df2, on='C', how='right', indicator=True)
df = df3.loc[df3['_merge'] == 'right_only', 'C']
d = df2[df2['C'].isin(df)]
print(d)

    A   B   C   D
2  A6  B0  B2  D6

By extracing the rows where values of C from the first DF are not in the second DF, the left anti-join is performed.

- ####  **Part7 - Full Anti-Join**

In [ ]:
df3 = df1.merge(df2, on='B', how='outer', indicator=True)
df = df3.loc[df3['_merge'] == 'both', 'B']
d = df3[~df3['B'].isin(df)]
print(d)

   A_x   B  C_x  D_x  A_y  C_y  D_y      _merge
3   A2  B2   C2   D2  NaN  NaN  NaN   left_only
4   A3  B3   C3   D3  NaN  NaN  NaN   left_only
5  NaN  C2  NaN  NaN   A5   C0   D2  right_only

By extracting the rows where values of B are common in both DFs, then filtering them out and keeping the rest, the full anti-join is performed.

- ####  **Part8 - Merging on Different Column Names**

In [ ]:
df = df1.merge(df2, left_on='C', right_on='B')
print(df)

  A_x B_x C_x D_x A_y B_y C_y D_y
0  A2  B2  C2  D2  A5  C2  C0  D2

This merge returns the rows where the common values between C from DF1, and B from DF2 are present.

- ####  **Part9 - Merging on Multiple Columns**

In [ ]:
df = df1.merge(df2, on=['B', 'C'])
print(df)

  A_x   B   C D_x A_y D_y
0  A0  B0  C0  D0  A4  D1

This merge returns the rows where the each column in both DFs has the same value. So, B in both DFs has B0, and C in both DFs has C0, so that row is returned.

<hr>

#### **Task16**

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B0', 'C2', 'B0', 'B1'],
                    'C': ['C0', 'C0', 'B2', 'C3'],
                    'D': ['D1', 'D2', 'D6', 'D7']})

df = df1.merge(df2['B'], left_on='C', right_on='B', how='left')
print(df)

    A B_x   C   D  B_y
0  A0  B0  C0  D0  NaN
1  A1  B1  C1  D1  NaN
2  A2  B2  C2  D2   C2
3  A3  B3  C3  D3  NaN

By merging different columns, but selecting only column B from df2 using df2['B'], then specifiying the columns C and B from DF1 and DF2 respectively, we can perform a left outer join with all columns from DF1 and only column B from DF2.